@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@100;500&display=swap');

body {
    background-color: rgb(48, 48, 48);
    margin: 0;
    color: white;
    font-family: Inter;
    background-image: linear-gradient(rgb(83, 83, 83), black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7%;
    gap: 50px;
    
    
}

iframe {
    width: 550px;
    height: 250px;
    margin-top: 40px;
}

form {
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 130px;
    text-align: left;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#user {
    border-radius: 5px;
    background-color: #383838;
    color: white;
}

#password {
    border-radius: 5px;
    background-color: #383838;
    color: white;
}

.submit-button {
    background-image: linear-gradient(to right, rgb(0, 255, 200), rgb(35, 35, 247), rgb(35, 35, 247), rgb(0, 255, 200));
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 50px;
    align-self: flex-end;
}

header {
    background-color: rgb(27, 27, 27);
    color: white;
    margin: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header h1 {
    font-weight: 100;
}

.title {
    font-size: 20px;
    margin-left: 140px;
    
}

.logo, .title, .pages {
    display: inline-block;
    vertical-align: middle;
}

.logo img   {
    width: 80px;
    height: 80px;
    margin: 10px
}

.pages {
    width: 15vw;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    align-content: center;
    margin-right: 60px;
}

.pages > img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-bottom: px;
}

.pages > a {
    color: white;
    text-decoration: none;
}

.main-text {
    text-align: left;
    margin: 40px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    
}

ul, li {
    margin: 8px;
    padding: 0;
}

.video-and-button {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(46, 46, 46);
}

button {
    background-image: linear-gradient(to right, rgb(0, 255, 200), rgb(35, 35, 247), rgb(35, 35, 247), rgb(0, 255, 200));
    color: white;
    box-shadow: 0 0 50px rgb(46, 46, 46);
    height: 30px;
    width: 25vw;
    border: none;
    border-radius: 50px;
    
}

.log-in-sign-up {
    background-color: rgb(27, 27, 27);
    margin: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px 2px rgb(44, 44, 228);
    margin-left: 55px;
    margin-right: 40px;
    margin-top: 55px;
}

hr {
    width: 200px;
    height: 0px;
    color: solid white;
}

footer {
    color: grey;
    font-size: 8px;
    text-align: center;
    margin-top: 29px;
}

.menu-btn {
    display: none;
    
}






.switch {
    position: relative;
    display: inline-block;
    width: 180px;
    height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #383838;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 0px;
  }
  
  .slider:before {
    position: absolute;
    content: "LOGIN";
    height: 20px;
    width:90px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(35, 35, 247);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 0%;
    padding-top: 7px;
    
  }

  
  input:checked + .slider {
    background-color: rgb(43, 43, 43);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #020202;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
    background-color: rgb(0, 255, 200);
    content: "SIGN UP";
    color: rgb(32, 32, 32);
    font-family: Inter;

  }

  .on {
      display: none;
  }

  .on, .off {
      color: white;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      font-size: 10px;
      font-family: Inter;
  }

  input:checked + .slider .on {
    display: block;
  }

  input:checked + .slider .off {
    display: none;
  }
  
  /*------ ADDED CSS ---------*/
  




@media screen and (max-width: 650px) {

    main{
        flex-direction: column;
    }

    h1 {
        display: none;
    }

    .pages {
        display: none;
    }

    button {
        width: 200px;
        height: 30px;
    }

    .menu-btn {
        width: 3rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 20px;
        
    }

    .menu-btn span {
        width: 100%;
        height: 3px;
        background-color: white;
      }

}